src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4b19a336-e142-461c-99d3-22a61667cc76" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="fb870041-087a-46e8-887a-9ed596a4a613" >
		<http:listener doc:name="Listener" doc:id="5c169ef8-369b-4dd4-9d98-9d7166ea59c0" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value='#["project"]' doc:name="Set Payload" doc:id="b399a706-fcb4-4367-8352-449b6bcb0a46" />
		<logger level="INFO" doc:name="Logger" doc:id="683c916a-6c1c-4f00-9949-42b2a284c1e6" message="Sample GIT #[payload]"/>
	</flow>
</mule>
